<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDB"
       
                           Initial Catalog=TECHNOLIGHT;
                           Persist Security Info=False;
                           User ID=payx-pro;
                           Password=Ap@q3inq21;
                           MultipleActiveResultSets=False;
                           Encrypt=True;
                           TrustServerCertificate=False;
                           Connection Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

