<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDB"
         connectionString="Server=tcp:technolight.database.windows.net,1433;Initial Catalog=TECHNddOLIGHT;Persist Security Info=False;User ID=payx-pro;Password=Ap@q3inq21;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

